p-gestioncompras-api/src/main/mule/p-gestioncompras-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:productcursos-api="http://www.mulesoft.org/schema/mule/productcursos-api" xmlns:s-ecommerce="http://www.mulesoft.org/schema/mule/s-ecommerce" xmlns:s-usuariossalesforce="http://www.mulesoft.org/schema/mule/s-usuariossalesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/productcursos-api http://www.mulesoft.org/schema/mule/productcursos-api/current/mule-productcursos-api.xsd http://www.mulesoft.org/schema/mule/s-usuariossalesforce http://www.mulesoft.org/schema/mule/s-usuariossalesforce/current/mule-s-usuariossalesforce.xsd http://www.mulesoft.org/schema/mule/s-ecommerce http://www.mulesoft.org/schema/mule/s-ecommerce/current/mule-s-ecommerce.xsd">
    <http:listener-config name="p-gestioncompras-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="p-gestioncompras-api-config" api="resource::0e78b48b-ec5c-4076-aa46-5931d03dec88:p-gestioncompras-api:1.0.3:raml:zip:p-gestioncompras-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <productcursos-api:config name="Productcursos_API_Config" doc:name="Productcursos API Config" doc:id="5a4f7a6b-5672-4a42-ad3f-ee45b8e966a9" property_host="${prodcursos.host}" property_protocol="${prodcursos.protocol}" property_port="${prodcursos.port}" property_basePath="${prodcursos.basPath}" />
    <productcursos-api:config name="usuariossalesforce_API_Config1" doc:name="Productcursos API Config" doc:id="93f9523f-8fcd-465c-910d-39564d81e85f" property_host="s-usuariossalesforce-api-4nw6zl.5sc6y6-4.usa-e2.cloudhub.io" property_port="443" property_basePath="/api" property_protocol="HTTPS" />
    <s-usuariossalesforce:config name="S_usuariossalesforce_Config" doc:name="S-usuariossalesforce Config" doc:id="28620d3c-e262-470e-a12a-3e08a020af83" property_host="${usuarios.host}" property_port="${usuarios.port}" property_basePath="${usuarios.basPath}" property_protocol="${usuarios.protocol}" />
    <s-ecommerce:config name="S_ecommerce_Config" doc:name="S-ecommerce Config" doc:id="71c65aea-5a98-420f-b3ab-4f9ad3ca8d6b" property_host="${pago.host}" property_port="${pago.port}" property_basePath="${pago.basPath}" property_protocol="${pago.protocol}" />
    <configuration-properties doc:name="Configuration properties" doc:id="8e85afae-f9c1-42ef-9cec-26184db9db56" file="configuration\config.yaml" />
	<flow name="p-gestioncompras-api-main">
        <http:listener config-ref="p-gestioncompras-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-gestioncompras-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-gestioncompras-api-console">
        <http:listener config-ref="p-gestioncompras-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-gestioncompras-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\cursos:p-gestioncompras-api-config">
        <productcursos-api:get-cursos doc:name="get cursos" doc:id="d7de4ec2-5d6f-42de-8c00-19df7d771181" config-ref="Productcursos_API_Config" />
    </flow>
    <flow name="get:\usuarios:p-gestioncompras-api-config">
        <s-usuariossalesforce:get-usuarios doc:name="get usuarios" doc:id="b91ad3cd-43bc-456a-a424-5012215103f4" config-ref="S_usuariossalesforce_Config" />
    </flow>
    <flow name="get:\cursos\(carrera_relacionada):p-gestioncompras-api-config">
        <productcursos-api:carreras-relacionadas-con-el-curso doc:name="Carreras relacionadas con el curso" doc:id="2cd2c32b-51c3-4796-aff9-a3a671a33412" config-ref="Productcursos_API_Config" carrera-relacionada='#[attributes.uriParams.carrera_relacionada]' />
    </flow>
    <flow name="get:\usuarios\(nombre):p-gestioncompras-api-config">
        <s-usuariossalesforce:usuarios-con-el-mismo-nombre doc:name="Usuarios con el mismo nombre" doc:id="7737d53c-b24b-4c77-9f72-e1c618b9ec6f" config-ref="S_usuariossalesforce_Config" nombre="#[attributes.uriParams.nombre]" />
    </flow>
    <flow name="post:\pago:application\json:p-gestioncompras-api-config">
        <s-ecommerce:procesar-pago doc:name="Procesar pago" doc:id="9ff04386-5ecc-484d-b68b-e34351648a69" config-ref="S_ecommerce_Config" />
    </flow>
</mule>
